body{
    background: rgb(255, 255, 255);
}

#circleBar{

    margin-top: 0,1%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#ciclebar:hover{

}

#circleBar .round_bar{
    min-height: 255px;
    margin-top: 40px;
    position: relative;
    margin-bottom: 20px;
    padding-top: 10px;
    background-color: rgb(221, 221, 221);
}

#circleBar .round_bar strong{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    padding: 0px;
    transform:translate(-50%);
    font-size: 40px;
    color: #212121;
    font-weight: 100;
}

#circleBar span{
    display: block;
    color: #999;
    font-size: 17px;
    margin-top: 10px;
}



.barrra {
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0,.2);
    height: 25px;
}

/* .cancel{
    background: #ed1f3c !important;
}

.btn{
    background: #379CDA !important;
} */

progress {
    border-radius:1px;
    border: 0;
    height: 18px;
    line-height: 35px;
    text-align: center;
    width: 0%;

} 

#cuadro_video {
    width: 500px;
    height: 350px;
    margin-top: 40px;
    border:1px solid;
    
}

#canvas_video {
    position:absolute;
    margin-top: 40px;
    border: 1px solid transparent;
}

#procesar {
    visibility:hidden; 
}

/* canvas {
    position: absolute;
    border: 1px solid transparent;
    margin-top: 40px;
} */